
{{ $src := .Get "src" | default 1 }}
{{ $alt := .Get "alt" | default "xxnote-image" }}


<div class="w-full h-full relative">
    <div class="w-full h-full relative bg-transparent transition-all duration-300 pointer-events-auto" style="background-image: linear-gradient(to top, rgb(255, 241, 235) 0%, rgb(172, 224, 249) 100%); background-repeat: no-repeat; background-size: cover; background-position: center center; border-radius: 0px;">
        <div class="h-full w-full sm:p-3 md:p-6 lg:p-14 grid place-items-center select-none overflow-hidden z-0">
            <div class="relative bg-gradient-to-br from-gray-100/50 via-gray-200/40 to-gray-100/25 border-t border-white/40 backdrop-blur overflow-hidden transition-all ease-linear duration-600" style="max-width: 840px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; padding: 6px; border-radius: 1rem;">
                <div class="rounded-xl relative select-none w-full transition-all duration-300 overflow-hidden flex justify-center items-center" style="padding: 30px; background-color: rgb(254, 254, 253);">
                	<img src="{{ $src }}" alt="{{ $alt }}">
                </div>
            </div>
        </div>
    </div>
</div>